 .services{
    padding-bottom: 20px;
    background-color: black;
    height: auto;
    border-bottom: 4px dotted #eac100;
}
.service-box{
    display: flex;
    justify-content: center !important;
    align-items: center !important;  
}
.service-box img{
    margin-top: 20px;
   
}
.service-items{
    margin-top: 12px;
}
.service-items h4{
    color:#eac100;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Nova Flat', cursive;

}
.service-items p{
    color:#fff;
    text-align: center;
    opacity: .85;
    

}